@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

a {
    text-decoration: none;
}

.titles {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.titles > h1, h3{
    margin: 0;
}

.titles > h3 {
    font-weight: normal;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 7vh;
}

.div-info-input {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input {
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #95D6F9;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

label {
    font-family: 'Open Sans', sans-serif;
}

#btn {
    width: 100%;
    border-radius: 20px;
    background: #226183;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    height: 82vh;
    justify-content: space-between;
}

hr {
    width: 100%;
}

.div-result {
    font-family: 'Open Sans', sans-serif;
    
    
}

.div-span {
    display: none;
    flex-direction: column;
    font-size: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    float: right;
    padding: 10px;
    animation-duration: 0.5s;
    animation-name: animation;
}

@keyframes animation {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

#span-legend {
    font-size: 20px;
}

#span-erro {
    color: red;
    margin-bottom: 10px;
}

section {
    width: 100%;
    height: 80vh;
}

section > a{
    text-decoration: none;
    color: #06405f;
}

section > div > p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

section > div > p > span {
    display: flex;
    justify-content: center;
    width: 50%;
}

#span-formula {
    background: #f7f7f7;
    padding: 5px;
    border-radius: 2px;
}

#lista-classificacao > h3 {
    font-family: 'Open Sans', sans-serif;
}

table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
}

table > tbody > tr > td {
    border: 1px solid rgb(130, 184, 219);
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 12px 0 12px 0;
}

footer{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-top: 10vh;
}
